@page
@model WebApp.Pages_Games.IndexModel

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Date created
            </th>
            <th>
                Game name
            </th>
            <th>
                First player
            </th>
            <th>
                Second player
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game.OrderBy(x=> x.Description)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPlayer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPlayer.Name)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
